body {
    overflow-y: scroll;
    overflow-x: hidden;
}
/* ----------------- STYLE HELP CLASSES ----------------- */

/* contain img in div */
.flex-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.space-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-end {
    justify-content: flex-end;
}

/* ------- PILLOWS ------ */
/* For vertical spacing */
.pillow-10 {
    height: 10px;
}
.pillow-20 {
    height: 20px;
}
.pillow-30 {
    height: 30px;
}
.pillow-50 {
    height: 50px;
}

/* ----------------- SPACING ----------------- */
.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

/* ----------------- NAVBAR SPECIFIC STYLING ----------------- */

.navbar-wrap {
    height: 80px;
}

.top-nav {
    background: #333;
    padding: 0 40px;
    height: 44px;
}

.main-nav {
    background: #ddd;
    padding: 0 40px;
}

.logo-wrap {
    height: 80px;
    padding: 5px;
}

.dark {
    background: #333;
}

.footer {
    padding: 38px 0;
}
/* alignment */
.center {
    text-align: center;
}

/* colors */
.rdcred {
    background-color: #9c4a4a;
}
.rdcred-text {
    /* color: #f67878; */
    color: #863535;
}
.rdcwhite-text {
    color: #c3c3c3;
}
.rdcorange-text {
    color: #cfa464;
}

.rdcdeepred {
    background-color: #502d2d;
}
.rdcseablue {
    background-color: #47575d;
}
.rdcsand {
    background-color: #b6ac90;
}

.rdcsandbordertop {
    border-top: 5px solid #b6ac90;
}

.rdcsandborder {
    border: 3px solid #b6ac90;
}

.rdcdeepred {
    background-color: #502d2d;
}
.rdcseablue {
    background-color: #47575d;
}
.rdcsand {
    background-color: #b6ac90;
}
.rdcsandbordertop {
    border-top: 5px solid #b6ac90;
}

.rdcsandborder {
    border: 3px solid #b6ac90;
}

/* --- LINKS --- */
.rdcred-link {
    color: #9c4a4a;
}
.rdcred-link:focus {
    color: #9c4a4a;
}
.rdcred-link:hover {
    color: #702c2c;
}
/* ------------*/

.rdcblack{
    background-color: #3e3e3e;
}
.lightlightgray {
    color: #c3c3c3;
}


/* ----------------- TEXT CLASSES -----------------*/
.bold {
    font-weight: bold;
}
.info-text {
    font-size: 12px;
}

/* ----------------- IMG CLASSES -----------------*/

.thumbnailimg {
    width: 190px;
    padding-top: 20px;
}

.spaceshuttle {
    background-image: url('https://i.imgur.com/lphoPHv.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.full-width {
    width: 100%;
}

/* --------------- PARALLAX CLASSES ---------------*/
.parallax-shuttle {
    /* The image used */
    background-image: url("../img/product/shuttle_shield.png");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-overlay {
    color: #222;
    background-color: #eee;
    background: rgba(255, 255, 255, 0.7);
    padding: 48px;
    width: 50%;
}



/* ----------------- LIST CLASSES -----------------*/
.redbulletlist {
    list-style: none;
}

/* ----------------- LIST CLASSES -----------------*/
.redbulletlist {
    list-style: none;
}

.redbulletlist > li::before {
    content: "\2022";
    color: #9c4a4a;
    display: inline-inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ----------------- FLASH SPECIFIC STYLING ----------------- */

.flash-image {
    background-image: url('../img/paint-roller.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.flash-text {
    color: #222;
    background-color: #eee;
    background: rgba(255, 255, 255, 0.7);
    padding: 48px;
    width: 50%;
}

.flash-text p {
    font-size: 1.5em;
}



/* ----------------- ARTICLE STYLING ----------------- */

.article {
    margin: 1em -15px;
    padding: 1em 15px;
}

.article-standard {
    background-color: #eee;
}



/*  Images  */
.contained-img {
    max-width: 100%;
    max-height: 100%;
}

.contained-img-width {
    max-width: 100%;
}

.img-h-200 {
    max-height: 200px
}

.img-h-300 {
    max-height: 300px
}

.img-h-500 {
    max-height: 500px
}

/* ----------------- TEXT CLASSES -----------------*/
.bold {
    font-weight: bold;
}

/* ----------------- LIST CLASSES -----------------*/
.redbulletlist {
    list-style: none;
}

.pagination > li > a.paginatoractive {
    background-color: #333;
    color: white;
}

.redbulletlist > li::before {
    content: "\2022";
    color: #9c4a4a;
    display: inline-inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ----------------- CONTACT PAGE -----------------*/
#contact-form {
    padding: 0;
}

#contact-address {
    padding: 0 15px;
}

.form-control::-webkit-input-placeholder {
    color: #636b6f !important;
    font-weight: 800;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #636b6f !important;
    font-weight: 800;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #636b6f !important;
    font-weight: 800;
}

.form-control:-ms-input-placeholder {
    color: #636b6f !important;
    font-weight: 800;
}


/**
 * Bootstrap-Markdown.less
 *
 * @author Taufan Aditya @taufanaditya
 * @copyright 2013-2016 Taufan Aditya
 */
.md-editor {
  display: block;
  border: 1px solid #ddd;
}
.md-editor > .md-header,
.md-editor .md-footer {
  display: block;
  padding: 6px 4px;
  background: #f5f5f5;
}
.md-editor > .md-header {
  margin: 0;
}
.md-editor > .md-preview {
  background: #fff;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  min-height: 10px;
  overflow: auto;
}
.md-editor > textarea {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  outline: 0;
  outline: thin dotted  \9;
  /* IE6-9 */
  margin: 0;
  display: block;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  border-radius: 0;
  box-shadow: none;
  background: #eeeeee;
}
.md-editor > textarea:focus {
  box-shadow: none;
  background: #fff;
}
.md-editor.active {
  border-color: #66afe9;
  outline: 0;
}
.md-editor .md-controls {
  float: right;
  padding: 3px;
}
.md-editor .md-controls .md-control {
  right: 5px;
  color: #bebebe;
  padding: 3px 3px 3px 10px;
}
.md-editor .md-controls .md-control:hover {
  color: #333;
}
.md-editor.md-fullscreen-mode {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 60px 30px 15px;
  background: #fff !important;
  border: 0 !important;
}
.md-editor.md-fullscreen-mode .md-footer {
  display: none;
}
.md-editor.md-fullscreen-mode .md-input,
.md-editor.md-fullscreen-mode .md-preview {
  margin: 0 auto !important;
  height: 100% !important;
  font-size: 20px !important;
  padding: 20px !important;
  color: #999;
  line-height: 1.6em !important;
  resize: none !important;
  box-shadow: none !important;
  background: #fff !important;
  border: 0 !important;
}
.md-editor.md-fullscreen-mode .md-preview {
  color: #333;
  overflow: auto;
}
.md-editor.md-fullscreen-mode .md-input:hover,
.md-editor.md-fullscreen-mode .md-input:focus {
  color: #333;
  background: #fff !important;
}
.md-editor.md-fullscreen-mode .md-header {
  background: none;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 20px;
}
.md-editor.md-fullscreen-mode .btn-group {
  float: none;
}
.md-editor.md-fullscreen-mode .btn {
  border: 0;
  background: none;
  color: #b3b3b3;
}
.md-editor.md-fullscreen-mode .btn:hover,
.md-editor.md-fullscreen-mode .btn:focus,
.md-editor.md-fullscreen-mode .btn.active,
.md-editor.md-fullscreen-mode .btn:active {
  box-shadow: none;
  color: #333;
}
.md-editor.md-fullscreen-mode .md-fullscreen-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  z-index: 1002;
  display: block;
}
.md-editor.md-fullscreen-mode .md-fullscreen-controls a {
  color: #b3b3b3;
  clear: right;
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.md-editor.md-fullscreen-mode .md-fullscreen-controls a:hover {
  color: #333;
  text-decoration: none;
}
.md-editor.md-fullscreen-mode .md-editor {
  height: 100% !important;
  position: relative;
}
.md-editor.md-fullscreen-mode textarea.md-input {
  padding: 5px;
}
.md-editor .md-fullscreen-controls {
  display: none;
}
.md-nooverflow {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
