
/* ----------------- STYLE HELP CLASSES ----------------- */

/* contain img in div */
.contained-img {
    max-width: 100%;
    max-height: 100%;
}

.flex-row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.space-between {
    justify-content: space-between;
}

.space-end {
    justify-content: flex-end;
}


/* ----------------- NAVBAR SPECIFIC STYLING ----------------- */

.navbar-wrap {
    height: 80px;
}

.top-nav {
    background: #333;
    padding: 0 40px;
    height: 44px;
}

.main-nav {
    background: #ddd;
    padding: 0 40px;
}

.logo-wrap {
    height: 80px;
    padding: 5px;
}

.dark {
    background: #333;
}

.footer {
    padding: 38px 0;
}
/* alignment */
.center {
    text-align: center;
}


/* alignment */
.center {
    text-align: center;
}

/* colors */
.rdcred {
    background-color: #9c4a4a;
}
.rdcred-text {
    color: #f67878;
}
.rdcblack{
    background-color: #3e3e3e;
}
.lightlightgray {
    color: #c3c3c3;
}


/* ----------------- TEXT CLASSES -----------------*/


.bold {
    font-weight: bold;
}

/* pillows */
.pillow-20 {
    height: 20px;
}
